#home .text-list{
    width: 100%;
    display: flex;
    padding: .5rem;
    border-bottom: .01rem solid #ccc;
    .text-column{
        width: 50%;
        
        span{
            color:rgb(230, 109, 131);
            font-size: .42rem;
        }
    }
}